
html {
    background-color: #201e19 !important;
}
html, body, input, textarea, select, button {
    background-color: #201e19;
}
html, body, input, textarea, select, button {
    border-color: #6e6453;
    color: #ffffda;
}
a {
    color: #949c9d;
}
table {
    border-color: #605848;
}
::placeholder {
    color: #e6d1aa;
}
::selection {
    background-color: #736650;
    color: #fffffb;
}
::-moz-selection {
    background-color: #736650;
    color: #fffffb;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #625c36 !important;
    color: #ffffda !important;
}


body {
    background-image: initial;
    background-color: rgb(36, 32, 25);
    color: rgba(255, 255, 226, 0.8);
}
#header > h1:first-child {
    color: rgba(255, 255, 226, 0.85);
}
#header .details {
    border-bottom-color: rgb(81, 73, 56);
    color: rgba(255, 255, 226, 0.6);
}
#footer {
    background-color: rgba(32, 25, 18, 0.7);
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    color: rgb(219, 195, 152);
}

#toctitle {
    color: rgb(254, 226, 176);
}

#toc.toc2 {
    background-color: rgb(40, 35, 27);
    border-right-color: rgb(78, 69, 54);
}

#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content > .title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
    color: rgb(231, 205, 160);
}
#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
    color: rgb(219, 195, 152);
    text-decoration-color: initial;
    text-decoration: none;
}

.paragraph.lead > p, #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
    color: rgba(255, 255, 216, 0.85);
}


hr {
    border-color: rgb(77, 68, 54);
}
.sect1 + .sect1 {
    border-top-color: rgb(73, 65, 52);
}


.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    color: rgb(254, 226, 176);
}
.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    color: rgb(254, 226, 176);
}

table {
    background-image: initial;
    background-color: rgb(36, 32, 25);
}

table tr th, table tr td {
    color: rgba(255, 255, 226, 0.8);
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    color: rgba(255, 255, 226, 0.8);
}

table thead, table tfoot {
    background-image: initial;
    background-color: rgb(40, 35, 27);
}

table.tableblock, th.tableblock, td.tableblock {
    border-top-color: rgb(82, 73, 57);
    border-right-color: rgb(82, 73, 57);
    border-bottom-color: rgb(82, 73, 57);
    border-left-color: rgb(82, 73, 57);
}
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background-image: initial;
    background-color: rgb(40, 35, 27);
}



a {
    color: rgb(240, 214, 167);
}

a:hover, a:focus {
    color: rgb(251, 224, 174);
}

a {
    background-image: initial;
    background-color: transparent;
}

a {
    line-height: inherit;
}

a {
    background: transparent;
}


:not(pre) > code {
    background-color: rgb(40, 35, 27);
}
code {
    color: rgba(255, 255, 226, 0.9);
}

pre, pre > code {
    color: rgba(255, 255, 226, 0.9);
}

.listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
    background-image: initial;
    background-color: rgb(40, 35, 27);
}
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
    background-image: initial;
    background-color: rgb(40, 35, 27);
}

.quoteblock blockquote::before {
    color: rgb(122, 37, 24);
}

.quoteblock blockquote, .quoteblock p {
    color: rgba(255, 255, 226, 0.85);
}

.quoteblock .attribution cite, .verseblock .attribution cite {
    color: rgba(255, 255, 216, 0.6);
}

.admonitionblock > table td.content {
    border-left-color: rgb(81, 73, 56);
    color: rgba(255, 255, 226, 0.6);
}

.admonitionblock td.icon .icon-tip::before {
    text-shadow: rgba(179, 160, 119, 0.8) 1px 1px 2px;
    color: rgb(253, 233, 154);;
}

.admonitionblock td.icon .icon-note::before {
    color: rgb(175, 202, 243);;
}

.admonitionblock td.icon .icon-important::before {
    color: rgb(213, 41, 41);;
}

.admonitionblock td.icon .icon-warning::before {
    color: rgb(191, 105, 0);;
}

.admonitionblock td.icon .icon-caution::before {
    color: rgb(191, 52, 0);;
}

.exampleblock > .content {
    background-color: rgb(60, 53, 39);
    border-color: rgb(83, 74, 58);
    box-shadow: rgb(48, 43, 34) 0 1px 4px;
}

.sidebarblock {
    border-top-color: rgb(88, 78, 61);
    border-right-color: rgb(88, 78, 61);
    border-bottom-color: rgb(88, 78, 61);
    border-left-color: rgb(88, 78, 61);
    background-image: initial;
    background-color: rgb(40, 35, 27);
}

.content img, object, svg {
    background-color: rgb(183, 158, 116);
}

.content img {
    opacity: .65;
    transition: opacity .5s ease-in-out;
}
.content img:hover {
    opacity: 1;
}

/*colors*/
.aqua {color: rgb(185, 230, 202)}
.aqua-background {background-color: rgb(116, 178, 158)}
.black {color: rgb(12, 12, 10)}
.black-background {background-color: rgb(30, 28, 25)}
.blue {color: rgb(150, 161, 180)}
.blue-background {background-color: rgb(39, 36, 117);}
.fuchsia {color: rgb(222, 145, 186)}
.fuchsia-background {background-color: rgb(156, 75, 134)}
.gray {color: rgb(134, 127, 114)}
.gray-background {background-color: rgb(90, 85, 75)}
.green {color: rgb(82, 146, 50)}
.green-background {background-color: rgb(73, 111, 54)}
.lime {color: rgb(172, 217, 132)}
.lime-background {background-color: rgb(99, 163, 73)}
.maroon {color: rgb(169, 87, 38)}
.maroon-background {background-color: rgb(97, 48, 40)}
.navy {color: rgb(6, 11, 74)}
.navy-background {background-color: rgb(41, 38, 77)}
.olive {color: rgb(160, 147, 60)}
.olive-background {background-color: rgb(139, 130, 69)}
.purple {color: rgb(107, 57, 92)}
.purple-background {background-color: rgb(107, 57, 92)}
.red {color: rgb(223, 93, 93)}
.red-background {background-color: rgb(139, 60, 49)}
.silver {color: rgb(93, 82, 61)}
.silver-background {background-color: rgb(73, 69, 61)}
.teal {color: rgb(115, 142, 132)}
.teal-background {background-color: rgb(83, 120, 106)}
.white {color: rgb(255, 239, 214)}
.white-background {background-color: rgb(185, 177, 164)}
.yellow {color: rgb(255, 243, 152)}
.yellow-background {background-color: rgb(208, 195, 97)}

/*scrollbar*/
::-webkit-scrollbar {
    width:9px;
    height:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(172, 133, 47, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(172, 133, 47, 0.7);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}

